@use 'variables' as *;

// Tipografía
.text-center {
  text-align: center;
}

.text-light {
  color:$lucen-text-white!important;
}

.small {
  font-size: 0.875em;
}

.text-muted {
  color: #6c757d;
}

.lucen-title {
  color: $lucen-text-primary;
  font-weight: 600;
  margin-bottom: $lucen-spacing-sm;
}

.lucen-subtitle {
  color: $lucen-text-secondary;
  margin-bottom: $lucen-spacing-lg;
}